/* Estilos gerais da Sidebar */
.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
  width: 200px;  /* Aumenta a largura da sidebar */
}